.getstarted-container {
    display: flex;
    justify-content: center;
    align-items: center;
   /* min-height: 100vh;*/
   
  padding: 40px 20px;
 
  min-height: 80vh;
   
  }
  
  .getstarted-card {
    width: 500px;
    border-radius: 12px;
    padding: 16px;
    margin:10px;
  }
  
  .css-1miy0lu-MuiTypography-root.getstarted-title {
    font-weight: bold;
    margin-bottom: 8px;
   
  }
  
  .getstarted-subtitle {
    color: #999;
    margin-bottom: 16px;
    padding-bottom:16px;
  }
  
  .getstarted-checkitem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding:15px;
  }
  
  .getstarted-icon {
    color: #000;
    font-size: 20px;
  }
  
  .getstarted-divider {
    padding:15px;
  }
  
  .getstarted-button-box {
    display: flex;
    justify-content: center;
  }
  
  .MuiButton-root.getstarted-button {
    background-color: #24d14c;
    color: #fff;
    font-weight: bold;
    text-transform: none;
    padding: 6px 40px;
    margin:10px;
    border-radius: 4px;
  }
  
  
  