.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.login-paper {
    padding: 24px;
    width: 100%;
    border-radius: 8px;
    max-width: 500px;
}

.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.login-title {
    font-weight: bold;
    font-size: 32px;
}

.phone-number {
    display: flex;
    gap: 1px;
    margin-bottom: 12px;
}

.flag {
    border: 1px solid #ccc;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    background-color: #fff;
}

.prefix {
    max-width: 80px;
    background-color: #fff;
}

.submit-button {
    background-color: #ef4f5f !important;
    color: white !important;
    font-weight: bold !important;
    text-transform: none !important;
    padding: 12px 0 !important;
    border-radius: 6px !important;
    margin: 16px 0px;
    font-size: 0.95rem;
}

.divider-box {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.divider-line {
    flex-grow: 1;
}

.divider-text {
    padding: 0 10px;
    color: #666;
    font-size: 14px;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.footer-text {
    color: #666;
    margin-right: 6px;
    font-size: 14px;
}

.footer-link {
    color: #ef4f5f;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    padding-left: 3px;
}