
.css-isqsr6-MuiPaper-root-MuiAppBar-root.navbar-appbar {
    min-height: 100px;
    position:static;
    
  }

  .css-1ygil4i-MuiToolbar-root.navbar-toolbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .user-box {
    display: flex;
    align-items: center;
    gap: 8px; 
  }
  
  .user-paper {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
  }
  .icon{
     font-size: 24px;
  }
  .name{
    margin-right: 1px ;
  }
  