

.section-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.section-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.section-header {
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.phone-inputs,
.account-inputs {
  display: flex;
  gap: 12px;
  margin: 10px 0;
}

.country-code {
  width: 70px;
}

.css-74d805-MuiButtonBase-root-MuiButton-root.verify-button {
  background-color: #999;
  color: #fff;
  text-transform: capitalize;
  width:100px;
}
.highlight-text {
  color: orange;
  font-size: 13px;
  margin-bottom: 10px;
}
.subtext {
  font-size: 13px;
  margin-bottom: 8px;
  color: #555;
}

