.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
   
}

.signup-paper {
    padding: 24px;
    width: 100%;
    border-radius: 8px;
    max-width: 500px;
}

.signup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
   
    
}

.css-16xl4zq-MuiTypography-root.signup-title {
    font-weight: bold;
    font-size: 37px;
}

.phone-number{
    display:flex;
    gap:1px;
    margin-bottom:2px;
 
}
.flag{
    border:1px solid #ccc;
    border-radius:6px ;
    padding:8px 12px;
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:48px ;
    background-color:#fff ;
  
}
.prefix{
    max-width:80px ;
    background-color: #fff;
    
}
.css-1k9hkw1-MuiButtonBase-root-MuiButton-root.submit-button {
    background-color: #808080 !important;
    color: white !important;
    font-weight: bold !important;
    text-transform: none !important;
    padding: 12px 0 !important;
    border-radius: 6px !important;
    margin: 16px 0px;
    font-size: 0.95rem;
}

.divider-box {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.divider-line {
    flex-grow: 1;
}

.divider-text {
    padding: 0 10px;
    color: #666;
    font-size: 14px;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.footer-text {
    color: #666;
    margin-right: 6px;
    font-size: 14px;
}

.css-7ctihp-MuiTypography-root.footer-link {
    color: #001f4d;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    padding-left: 3px;
   
}
